applicationinsights=no_application_insights
databasehost=taylorbot-postgres
databaseport=5432
databaseusername=taylorbot
databasepassword=
redishost=taylorbot-redis
redispassword=
discordtoken=
lastfmapikey=
lastfmapisecret=
googleapikey=
googlecseid=
pirateweatherapikey=
wolframappid=
imgurclientid=
signatureaccount=
heistjsonbase64=W3sibWF4aW11bVVzZXJDb3VudCI6MiwiYmFua05hbWUiOiJBIEJhbmsg8J+Pmu+4jyIsIm1pbmltdW1Sb2xsRm9yU3VjY2VzcyI6NTEsInBheW91dE11bHRpcGxpZXIiOiIxIn0seyJtYXhpbXVtVXNlckNvdW50IjpudWxsLCJiYW5rTmFtZSI6IkEgTGFyZ2VyIEJhbmsg8J+PpiIsIm1pbmltdW1Sb2xsRm9yU3VjY2VzcyI6NTYsInBheW91dE11bHRpcGxpZXIiOiIxLjIifV0=
