TaylorBot_DatabaseConnection__Host=taylorbot-postgres
TaylorBot_DatabaseConnection__Port=5432
TaylorBot_DatabaseConnection__UseSSL=false
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisCommandsConnection__Password=
TaylorBot_RedisHeistsConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_Imgur__ClientId=
TaylorBot_BotOwner__UserId=
TaylorBot_Google__ApiKey=
TaylorBot_DarkSky__ApiKey=
TaylorBot_Wolfram__AppId=
TaylorBot_Heist__Banks=[{"maximumUserCount":2,"bankName":"A Bank 🏚️","minimumRollForSuccess":51,"payoutMultiplier":"1"},{"maximumUserCount":null,"bankName":"A Larger Bank 🏦","minimumRollForSuccess":56,"payoutMultiplier":"1.2"}]
