DOTNET_ENVIRONMENT=Staging
TaylorBot_DatabaseConnection__Host=taylorbot-postgres
TaylorBot_DatabaseConnection__Port=5432
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_LastFm__LastFmApiKey=
TaylorBot_LastFm__LastFmApiSecret=
TaylorBot_Google__GoogleApiKey=
TaylorBot_Image__GoogleCustomSearchEngineId=
TaylorBot_Weather__PirateWeatherApiKey=
TaylorBot_WolframAlpha__AppId=
