DOTNET_ENVIRONMENT=Staging
APPLICATIONINSIGHTS_CONNECTION_STRING=
TaylorBot_DatabaseConnection__Host=taylorbot-postgres
TaylorBot_DatabaseConnection__Port=5432
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_LastFm__LastFmApiKey=
TaylorBot_LastFm__LastFmApiSecret=
TaylorBot_Google__GoogleApiKey=
TaylorBot_Image__GoogleCustomSearchEngineId=
TaylorBot_Weather__PirateWeatherApiKey=
TaylorBot_WolframAlpha__AppId=
TaylorBot_Imgur__ClientId=
TaylorBot_Signature__BlobConnectionString=
TaylorBot_Heist__Banks=[{"maximumUserCount":2,"bankName":"A Bank 🏚️","minimumRollForSuccess":51,"payoutMultiplier":"1"},{"maximumUserCount":null,"bankName":"A Larger Bank 🏦","minimumRollForSuccess":56,"payoutMultiplier":"1.2"}]
