DOTNET_ENVIRONMENT=Staging
TaylorBot_DatabaseConnection__Host=taylorbot-postgres
TaylorBot_DatabaseConnection__Port=5432
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_PatreonSync__ApiKey=
TaylorBot_PatreonSync__CampaignId=
