DOTNET_ENVIRONMENT=Development
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_PatreonSync__ApiKey=
TaylorBot_PatreonSync__CampaignId=
