DOTNET_ENVIRONMENT=Development
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisCommandsConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_LastFm__LastFmApiKey=
TaylorBot_LastFm__LastFmApiSecret=
