DOTNET_ENVIRONMENT=Staging
APPLICATIONINSIGHTS_CONNECTION_STRING=
TaylorBot_DatabaseConnection__Host=taylorbot-postgres
TaylorBot_DatabaseConnection__Port=5432
TaylorBot_DatabaseConnection__Username=
TaylorBot_DatabaseConnection__Password=
TaylorBot_RedisConnection__Password=
TaylorBot_Discord__Token=
TaylorBot_PatreonSync__ApiKey=
TaylorBot_PatreonSync__CampaignId=
TaylorBot_YoutubeAuth__ApiKey=
TaylorBot_TumblrAuth__ConsumerKey=
TaylorBot_TumblrAuth__ConsumerSecret=
TaylorBot_TumblrAuth__Token=
TaylorBot_TumblrAuth__TokenSecret=
TaylorBot_RedditAuth__AppId=
TaylorBot_RedditAuth__AppSecret=
TaylorBot_RedditAuth__RefreshToken=
